.why-benefit .flex .purple{
    background: #8C36AC;
    color: white;
}
.why-benefit button{
    background: #FFFFFF;
    border-radius: 10px 0px 0px 10px;
    color: #8C36AC;
    padding-block:5px;
    padding-inline: 15px;
}
.why-benefit .flex ul{
    margin-top: 1em;
    /* margin-left: 1em; */
}
.why-benefit .flex ul li{
    margin-block: 1em;
}
.why-benefit .flex .img img{
 position: relative;
}